.error_container {
    text-align: center;
    color: #FF6060;
  }
  
  .error_title {
    font-size: 200px;
    margin: 0px;
  }
  
  .error_subtitle {
    font-size: 25px;
    margin-bottom: 150px;
  }
  
  .error_link {
    font-size: 20px;
    text-decoration: underline;
    color: #FF6060;
  }
  
  @media only screen and (max-width: 900px)  {
    .error_container {
      margin-top: 30%;
    }
  
    .error_title {
      font-size: 100px;
    }
  }