.apartment {
    height: 15rem;
    background-color: #FF6060;
    flex-basis: 27%;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;
    padding: 0;
}

.apartment_title {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.apartment img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}