.apartment_card {
    position: relative;
    height: 15rem;
    overflow: hidden;
    border-radius: 15px;
}

.apartment_card_title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    font-size: 15px;
    color: white;
}

.apartment_card img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}