.apartment {
    position: relative;
    height: 15rem;
    background-color: #FF6060;
    overflow: hidden;
    border-radius: 15px;
}

.apartment_title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    font-size: 15px;
    color: white;
}

.apartment img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}