.collapse_container {
    display: flex;
    flex-direction: column;
}

.collapse_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.collapse_title h3 {
    margin: 0;
    font-weight: lighter;
}

.collapse_title i {
    font-weight: bold;
    font-size: 23px;
}

.collapse_content {
    position: relative;
    padding: 30px 20px;
    top: -5px;
    z-index: -1;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #FF6060;
    list-style-type: none;
    height: 100%;
}

.collapse_content.disabled {
    display: none;
}

.collapse_content ul {
    list-style-type: none;
    padding: 0;
}

.collapse_content ul li {
    margin-bottom: 5px;
}