.dropdown_description p {
    margin-block: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dropdown_description_title {
    background-color: #FF6060;
    color: white;
    padding: 0.8rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.dropdown_description_content {
    background-color: #F6F6F6;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    top: -0.4rem;
    z-index: -1;
    color: #FF6060;
    list-style-type: none;
}

.dropdown_description_content.disabled {
    display: none;
}

.dropdown_description_flexbox {
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
}

.About_container {
    width: 80%;
    margin: auto;
}

.dropdown_description {
    margin-bottom: 1rem;
    font-size: 20px;
    flex-basis: 50%;
}