.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    font-weight: bold;
    font-size: 20px;
}

.navbar_logo img {
    width: 100%;
}

.navbar_link {
    color: #FF6060;
    text-decoration: none;
    margin-left: 60px;
    cursor: pointer;
}

.navbar_link.active {
    text-decoration: underline;
}

@media only screen and (max-width: 900px)  {
    .navbar_logo {
        width: 50%;
    }

    .navbar_links {
        display: flex;
    }

    .navbar_link {
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 0.8rem;
    }
}