.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 25px 0px;
    color: #FF6060;
    font-weight: bold;
    font-size: 20px;

}

.navbar_logo {
    margin-right: auto;
    max-height: 8rem;
}

a {
    color: #FF6060;
    text-decoration: none;
    cursor: pointer;
}