/* You put here all the styles that are cross-componen */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.app_main {
    margin: 0px 50px;
}

@media only screen and (max-width: 900px)  {
    .app_main {
        margin: 0px 25px;
        min-height: 100vh;
    }
}

